<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lydia お問い合わせ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <link rel="stylesheet" type="text/css" href="fonts/flaticon.css">
</head>

  <body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <!-- <img src="img/logo.png" alt=""> -->
                                    <h2>LYDIA</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="service.html">LYDIA Suit</a></li>
                                        <li><a href="studio.html">LYDIA Studio</a></li>
                                        <li><a href="gallery/">Gallery</a></li>

                                        <!-- <li><a href="#">Gallery
                                          <i class="ti-angle-down"></i>
                                        </a>
                                          <ul class="submenu">
                                            <li><a href="gallery.php">作品実績</a></li>
                                            <li><a href="material.html">生地</a></li>
                                            <li><a href="model.html">モデル</a></li>
                                          </ul>
                                        </li> -->

                                        <li><a class="active" href="#">お問い合わせ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 d-none d-lg-block">
                            <div class="social_media_links">
                                <ul>
                                    <!-- <li><a href="#"> <i class="fa fa-facebook"></i> </a></li> -->
                                    <!-- <li><a href="#"> <i class="fa fa-twitter"></i> </a></li> -->
                                    <li><a href="https://www.instagram.com/odasutsulydia/"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <div class="bradcam_area mb-3">
        <div class="bg-img-black d-flex align-items-center" style="height: 400px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h2 class="text-white">お問い合わせ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="heading">
        <!-- <h1>お問い合わせ</h2> -->
      </div>
      <div id="error_message"  class="alert alert-danger" role="alert">入力内容に誤りがあります。</div>
      <form name="me_mailform" action="index.php" method="post" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="comment" class="col-sm-3 col-form-label">お問い合わせ内容 <span class="badge badge-danger">必須</span></label>
          <div class="col-sm-9">
            <textarea id="comment" name="comment" class="form-control" rows="10"></textarea>
            <div id="comment_error"  class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">お名前 <span class="badge badge-danger">必須</span></label>
          <div class="col-sm-9">
            <input type="text" id="name" name="name" class="form-control" placeholder="例）山田 太郎" value="">
            <div id="name_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">メールアドレス <span class="badge badge-danger">必須</span></label>
          <div class="col-sm-9">
            <input type="email" id="email" name="email" class="form-control" placeholder="例）info@example.com" value="">
            <div id="email_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="zipcode" class="col-sm-3 col-form-label">郵便番号</label>
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">〒</span></div>
              <input type="text" id="zipcode" name="zipcode" class="form-control" value="" placeholder="例）1000001">
              <div id="zipcode_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
            </div>
          </div>
          <div class="col-sm-5">
            <input type="button" class="btn boxed-btn" value="住所を自動入力" onclick="memf.zipAddrRun('zipcode', '', 'addr'); return false;" title="郵便番号から住所を自動入力する">
          </div>
        </div>
        <div class="form-group row">
          <label for="addr" class="col-sm-3 col-form-label">住所</label>
          <div class="col-sm-9">
            <input type="text" id="addr" name="addr" class="form-control" value="" placeholder="例）東京都千代田区千代田1番1号">
            <div id="addr_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
<!--
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ご用件 <span class="badge badge-danger">必須</span></label>
          <div class="col-sm-9">
            <div><label><input type="radio" name="purpose" value="お見積依頼">
              お見積依頼</label></div>
            <div><label><input type="radio" name="purpose" value="採用情報について">
              採用情報について</label></div>
            <div><label><input type="radio" name="purpose" value="その他お問い合わせ">
              その他お問い合わせ</label></div>
            <div id="purpose_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="work" class="col-sm-3 col-form-label">ご職業</label>
          <div class="col-sm-9">
            <select id="work" name="work" class="form-control">
              <option value="">選択してください</option>
              <option value="学生">学生</option>
              <option value="主婦">主婦</option>
              <option value="会社員">会社員</option>
              <option value="会社役員">会社役員</option>
              <option value="自営業">自営業</option>
              <option value="公務員">公務員</option>
              <option value="パート・アルバイト">パート・アルバイト</option>
              <option value="その他">その他</option>
            </select>
            <div id="work_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ご利用用途</label>
          <div class="col-sm-9">
            <label class="form-check-label"><input type="checkbox" name="use[]" class="form-check-input" value="お問い合わせフォーム"> お問い合わせフォーム</label>
            <label class="form-check-label"><input type="checkbox" name="use[]" class="form-check-input" value="アンケートフォーム"> アンケートフォーム</label>
            <label class="form-check-label"><input type="checkbox" name="use[]" class="form-check-input" value="求人募集フォーム"> 求人募集フォーム</label>
            <div id="use_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="captcha" class="col-sm-3 col-form-label">画像認証 <span class="badge badge-danger">必須</span></label>
          <div class="col-sm-9">
            <img src="index.php?captcha" width="150" height="40" title="画像認証">
            <input id="captcha" type="text" name="captcha" class="form-control" placeholder="画像に表示されている文字を入力してください。" required>
            <div id="captcha_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="file" class="col-sm-3 col-form-label">添付ファイル</label>
          <div class="col-sm-9">
            <input type="file" id="file" name="file" class="form-control-file" value="">
            <div id="file_error" class="alert alert-danger" role="alert">エラーメッセージ</div>
          </div>
        </div>
-->
        <input type="submit" class="btn boxed-btn" value="確認画面へ">
      </form>
      <p class="text-right"><span id="powered_by_me"></span></p>
    </div>
    <footer class="footer">
        <div class="footer_top bg-img-black">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <!-- <img src="img/logo.png" alt=""> -->
                                    <h2 class="text-white">LYDIA</h2>
                                </a>
                            </div>
                            <p class="footer_text">東京都新宿区歌舞伎町2丁目27-12<br>
                              <a class="text-light" href="tel: 03-6302-1938">03-6302-1938</a><br>
                                <a class="domain" href="mailto:info@lydia-tokyo.com">info@lydia-tokyo.com</a></p>
                            <div class="socail_links">
                                <ul>
                                    <!-- <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="https://www.instagram.com/odasutsulydia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Open Hours
                            </h3>
                            <ul>
                              <li class="text-white">月曜13:00 - 22:00</li>
                              <li class="text-white"><span>火曜</span><span>13:00 - 22:00</span></li>
                              <li class="text-white"><span>水曜</span><span>13:00 - 22:00</span></li>
                              <li class="text-white"><span>木曜</span><span>13:00 - 22:00</span></li>
                              <li class="text-white"><span>金曜</span><span>13:00 - 22:00</span></li>
                              <li class="text-white"><span>土曜</span><span>13:00 - 22:00</span></li>
                              <li class="text-white"><span>日曜</span><span>13:00 - 22:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                  Links
                            </h3>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="https://www.instagram.com/odasutsulydia/">Instagram</a></li>
                                <li><a href="index.php"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">Copyright &copy;<script>document.write(new Date().getFullYear());</script>Lydia All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./me_mailform/assets/js/memf.js" charset="UTF-8" type="text/javascript"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
